.landing {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgb(32, 0, 36);
}


.main-content {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.info-card {
    width: 400px;
}

.login-card {
    width: 400px;
}

.login-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.username-input-container {
    width: 100%;
}

.username-input {
    width: 100%;
    height: 100%;
}

.password-input-container {
    width: 100%;
}

.password-input {
    width: 100%;
}

.login-button-container {
    width: 100%;
}

.login-button {
    width: 100%;
}

.signup-button-container {
    width: 100%;
}

.signup-button {
    width: 100%;
}

.footer {
    border: 1px solid white;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}